body{
    height: 100%;
}
#nav{
    list-style-type: none;
    margin: auto;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
    color: black;
    margin-top: 10px;
}
li a {
    display: block;
    width: 70px;
    margin-left:70px;
    padding: 10px 16px;
    text-decoration: none;
    color:black;
    margin-top: -70px;
    margin-bottom: 70px;
    background-color: white;
}
li a:hover {
    background-color:white;
    color: gold;
}
h1{
	font-family: 'Oswald', sans-serif;
	color:gold;
    margin-left:80px;
    padding: 0;
    font-size: 48px;
    margin-bottom: 80px;
    margin-top: 60px;
}
a{
	color:gold;
	text-decoration: none;
}
p{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 12pt;
    width:350px;
    margin-left: 620px;
    margin-bottom: 80px;
    margin-top: -470px;
    background-color: white;
}
#img1{
    margin-left:400px;
    margin-top:-550px;
    margin-bottom:300px;
    width:20%;
    height:auto;
}
#img2{
    margin-left:700px;
    margin-top:-550px;
    margin-bottom:300px;
    width:15%;
    height:auto;
}
#img3{
    margin-left:920px;
    margin-top:-600px;
    margin-bottom:400px;
    width:15%;
    height:auto;
}
#img4{
    margin-left:400px;
    margin-top:-290px;
    margin-bottom:400px;
    width:15%;
    height:auto;
}
#img5{
    margin-left:700px;
    margin-top:-700px;
    margin-bottom:450px;
    width:15%;
    height:auto;
}
#img6{
    margin-left:920px;
    margin-top:-780px;
    margin-bottom:520px;
    width:15%;
    height:auto;
}
#img7{
    margin-left:400px;
    margin-top:-800px;
    margin-bottom:200px;
    width:25%;
    height:auto;
}
#img8{
    margin-left:750px;
    margin-top:-800px;
    margin-bottom:200px;
    width:15%;
    height:auto;
}
#img9{
    margin-left:950px;
    margin-top:-800px;
    margin-bottom:300px;
    width:15%;
    height:auto;
}














