body{
    height: 100%;
    background-color: white;
}
#nav{
    list-style-type: none;
    margin: auto;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
    color: black;
    margin-top: 10px;
}
img{
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  margin: auto;
}
li a {
    display: block;
    width: 70px;
    margin-left:70px;
    padding: 10px 16px;
    text-decoration: none;
    color:black;
    margin-top: -40px;
    margin-bottom:40px;
    background-color: white;
}
li a:hover {
    background-color:white;
    color: gold;
}
h1{
  font-family: 'Oswald', sans-serif;
  color:gold;
    margin-left:80px;
    padding: 0;
    font-size: 48px;
    margin-bottom:50px;
    margin-top: 20px;
}
a{
  color:gold;
  text-decoration: none;
}
#img1{
  width:15%;
  height:auto;
  margin-bottom:100px;
  margin-top:-500px;
  margin-left:400px;
}
#img2{
  width:15%;
  height:auto;
  margin-bottom:100px;
  margin-top:-300px;
  margin-left:650px;
}
#img3{
  width:15%;
  height:auto;
  margin-bottom:100px;
  margin-top:-300px;
  margin-left:900px;
}
#img4{
  width:15%;
  height:auto;
  margin-bottom: 100px;
  margin-top: -40px;
  margin-left: 400px;
}
#img5{
  width:15%;
  height:auto;
  margin-bottom:100px;
  margin-top:-300px;
  margin-left: 650px;
}
#img6{
  width:15%;
  height:auto;
  margin-bottom:100px;
  margin-top:-300px;
  margin-left:900px;
}
#img7{
  width:25%;
  height:auto;
  margin-bottom:80px;
  margin-top:-5px;
  margin-left:400px;
}
#img8{
  width:15%;
  height:auto;
  margin-bottom:80px;
  margin-top:-305px;
  margin-left:750px;
}
#img9{
  width:15%;
  height:auto;
  margin-bottom:80px;
  margin-top:-305px;
  margin-left:950px;
}












